name: CD - Deploy Production (GCP)

on:
  workflow_run:
    workflows: ["CI gcp"] # Se activa cuando el workflow "CI gcp" termina
    types: [completed]
    branches:
      - main
  workflow_dispatch:

env:
  # --- Variables de Configuración ---
  # El ID de tu proyecto de GCP (debes crearlo en secrets)
  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  # Tu usuario de Docker Hub (debes crearlo en secrets)
  DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USERNAME }}
  # La región (la puedes dejar fija si siempre es la misma)
  GCP_REGION: us-central1
  # Ruta a la carpeta de infraestructura
  TERRAFORM_DIR: ./infra

# --- Permisos para Autenticación ---
# Permisos necesarios para que GitHub Actions se autentique
# con Google Cloud usando Workload Identity Federation (WIF).
permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  deploy-production:
    name: Deploy · Infraestructura (TerraFORM)
    runs-on: ubuntu-latest
    
    steps:
      # 1. Bajar el código del repositorio
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Autenticación con GCP (Método RECOMENDADO: WIF)
      # No usas una llave JSON. Te autenticas de forma segura.
      - name: Authenticate to Google Cloud
        id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}
          # --- AÑADE ESTA LÍNEA ---
          create_credentials_file: true

      # 3. Instalar Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # 4. Terraform Init
      # Inicializa terraform y descarga el provider de Google
      - name: Terraform Init
        run: terraform init
        working-directory: ${{ env.TERRAFORM_DIR }}

      # 5. Terraform Validate
      # Revisa que la sintaxis de tu .tf sea correcta
      - name: Terraform Validate
        run: terraform validate
        working-directory: ${{ env.TERRAFORM_DIR }}
        
      # 6. Terraform Apply
      # ¡Aquí ocurre la magia! Aplica todos los cambios.
      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ${{ env.TERRAFORM_DIR }}
        env:
          # --- AÑADE ESTA LÍNEA ---
          GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}
          # -------------------------
          TF_VAR_gcp_project_id: ${{ env.GCP_PROJECT_ID }}
          TF_VAR_gcp_region: ${{ env.GCP_REGION }}
          TF_VAR_docker_hub_user: ${{ env.DOCKERHUB_USER }}